<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title><%= this.metadata.title %></title>
  <link rel="shortcut icon" type="image/png" href="img/logos/logo-icmc.png" />

  <!-- Search Engine Optimization -->
  <meta name="url" content="<%= this.metadata.url %>">
  <meta name="type" content="article" />
  <meta name="description" content="<%= this.metadata.description %>" />
  <meta name="keywords" content="<%= this.metadata.keywords %>" />
  <meta property="og:title" content="<%= this.metadata.title %>" />
  <meta property="og:url" content="<%= this.metadata.url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="<%= this.metadata.description %>" />
  <meta property="og:image" content="<%= this.metadata.url %>img/logos/logo-icmc.png" />

  <!-- Font CDNs -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />

  <!-- Bootstrap CDN (for containers) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

  <!-- JQuery CDN (Bootstrap not using this) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <!-- Header -->
  <%- include partials/header %>

    <!-- Header collapse bar -->
    <%- include partials/header-collapse %>

      <!-- Nav bar -->
      <nav class="container-fluid" id="navbar">
        <%- include partials/navbar %>
      </nav>

      <!-- Modal -->
      <div id="modal-wrapper">
        <div id="modal">
          <div id="modal-close">
            <div><span>&times;</span></div>
          </div>
          <p></p>
        </div>
      </div>

      <!-- Remaining content -->
      <div class="container-fluid" id="content-body">
        <div class="container">
          <!-- Banner -->
          <%- include partials/banner %>

            <!-- Association logos -->
            <section id="association">
              <%- include partials/association %>
            </section>

            <div class="separator"></div>

            <!-- Information cards -->
            <section id="info">
              <%- include partials/info %>
            </section>

            <div class="separator"></div>

            <!-- About section -->
            <section id="about-icmc" class="about">
              <%- include partials/about-icmc %>
            </section>

            <div class="separator"></div>

            <section id="about-iiest" class="about">
              <%- include partials/about-iiest %>
            </section>

            <div class="separator"></div>

            <section id="about-it" class="about">
              <%- include partials/about-it %>
            </section>

            <div class="separator"></div>

            <!-- Speakers section -->
            <section id="speak">
              <%- include partials/speakers %>
            </section>

            <div class="separator"></div>

            <!-- Committee section -->
            <section id="comm">
              <%- include partials/committee %>
            </section>

            <div class="separator"></div>

            <!-- Tracks section -->
            <section id="trax">
              <%- include partials/tracks %>
            </section>

            <div class="separator"></div>

            <!-- Guidelines section -->
            <section id="guide">
              <%- include partials/guide %>
            </section>

            <div class="separator"></div>

            <!-- Accepted Papers section -->
            <section id="accepted">
              <%- include partials/accepted %>
            </section>

            <div class="separator"></div>

            <!-- Sessions Chart section -->
            <section id="sessions">
              <%- include partials/sessions %>
            </section>
            
            <div class="separator"></div>

            <!-- Registration details section -->
            <section id="reg">
              <%- include partials/reg %>
            </section>

            <div class="separator"></div>
        </div>
      </div>

      <!-- Footer -->
      <footer id="foot">
        <span>Designed by
          <a href="https://www.linkedin.com/in/meganindya/"
            target="_blank"><i>@meganindya</i></a>&nbsp;&nbsp;|&nbsp;&nbsp;IIEST Shibpur</span>
      </footer>

      <!-- Scroll to top button -->
      <div id="btn-top"></div>
</body>

</html>