<div class="titled-card">
    <div class="titled-card-head">
        <h4>Accepted&nbsp;&nbsp;Papers</h4>
    </div>
    <div class="titled-card-body">
        <p>
            Following papers are accepted for presentation in ICMC 2021. Click <a href="ICMC_2021_accepted_list.pdf"
                target="_blank">here</a> to download PDF.
        </p>
        <div id="accepted-table">
            <table>
                <tr>
                    <th>Sl no</th>
                    <th>ID</th>
                    <th>Paper Title</th>
                    <th>Author</th>
                    <th>Affiliation</th>
                </tr>
                <% this.accepted.forEach(item=> { %>
                    <tr>
                        <td>
                            <%= item["Sl no"] %>
                        </td>
                        <td>
                            <%= item["ID"] %>
                        </td>
                        <td>
                            <%= item["Paper Title"] %>
                        </td>
                        <td>
                            <% const authors=item["Author"].split('\n') %>
                                <% for (let i=0; i < authors.length - 1; i++) { %>
                                    <%= authors[i] %><br />
                                        <% } %>
                                            <%= authors[authors.length - 1] %>
                        </td>
                        <td>
                            <% const affiliations=item["Affiliation"].split('\n') %>
                                <% for (let i=0; i < affiliations.length - 1; i++) { %>
                                    <%= affiliations[i] %><br />
                                        <% } %>
                                            <%= affiliations[affiliations.length - 1] %>
                        </td>
                    </tr>
                    <% }) %>
            </table>
        </div>
    </div>
</div>