<div class="bubble">
    <h4>Committee</h4>
</div>
<div class="chairs clearfix">
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Chief&nbsp;&nbsp;Patron</h4>
        </div>
        <div class="chair-body">
            <p>
                <strong>Prof. Parthasarathi Chakrabarti</strong>, Director, Indian Institute of Engineering
                Science and
                Technology (IIEST) Shibpur
            </p>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Patron</h4>
        </div>
        <div class="chair-body">
            <p>
                <strong>Arindam Biswas</strong>, Dean - International Relations & Alumni Affairs, IIEST Shibpur
            </p>
            <p>
                <strong>Subhasis Bhaumik</strong>, Dean - Research & Consultancy, IIEST Shibpur
            </p>
            <p>
                <strong>Sudip Kumar Roy</strong>, Dean - Academic, IIEST Shibpur
            </p>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>General&nbsp;&nbsp;Co-Chairs</h4>
        </div>
        <div class="chair-body">
            <p>
                <strong>Sukanta Das</strong>, Department of Information Technology, IIEST Shibpur
            </p>
            <p>
                <strong>P D Srivastava</strong>, Visiting Professor, Head of Mathematics Department, Indian
                Institute of
                Technology Bhilai
            </p>
            <p>
                <strong>P K Saxena</strong>, Scientific Consultant - Cyber Security & Former Director, SAG, DRDO
            </p>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Program&nbsp;&nbsp;Co-Chairs</h4>
        </div>
        <div class="chair-body">
            <p>
                <a href="https://debasisgiri.info/" target="_blank">
                    <strong>Debasis Giri</strong>, Department of Information Technology, Maulana Abul Kalam Azad
                    University of Technology
                </a>
            </p>
            <p>
                <a href="https://business.utsa.edu/faculty/kim-kwang-raymond-choo/" target="_blank">
                    <strong>Kim-Kwang Raymond Choo</strong>, The University of Texas at San Antonio, USA
                </a>
            </p>
            <p>
                <a href="https://www.iitm.ac.in/info/fac/samy" target="_blank">
                    <strong>S Ponnusamy</strong>, Department of Mathematics, IIT Madras
                </a>
            </p>
            <p>
                <a href="https://personel.omu.edu.tr/tr/sedat.akleylek" target="_blank">
                    <strong>Sedat Akleylek</strong>, Ondokuz Mayıs University, Samsun, Turkey
                </a>
            </p>
            <p>
                <a href="https://www.iiests.ac.in/IIEST/Faculty/it-santipmaity" target="_blank">
                    <strong>Santi Prasad Maity</strong>, Department of Information Technology, IIEST Shibpur
                </a>
            </p>
            <p>
                <a href="https://www.dtu.dk/english/service/phonebook/person?id=116690&tab=1" target="_blank">
                    <strong>Weizhi Meng</strong>, Technical University of Denmark, Kongens Lyngby, Denmark
                </a>
            </p>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Organizing&nbsp;&nbsp;Chair</h4>
        </div>
        <div class="chair-body">
            <p>
                <a href="https://www.iiests.ac.in/IIEST/Faculty/it-shyamalenduk" target="_blank">
                    <strong>Shyamalendu Kandar</strong>, Department of Information Technology, IIEST Shibpur
                </a>
            </p>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Organizing&nbsp;&nbsp;Co-chair</h4>
        </div>
        <div class="chair-body">
            <p>
                <a href="https://www.iiests.ac.in/IIEST/Faculty/it-ruchira" target="_blank">
                    <strong>Ruchira Naskar</strong>, Department of Information Technology, IIEST Shibpur
                </a>
            </p>
            <p>
                <a href="https://www.iiests.ac.in/IIEST/Faculty/math-sarita" target="_blank">
                    <strong>Sarita Ojha</strong>, Department of Mathematics, IIEST Shibpur
                </a>
            </p>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Organizing&nbsp;&nbsp;Committee</h4>
        </div>
        <div class="chair-body">
            <p>
                <strong>Chandan Giri</strong>, Department of Information Technology, IIEST Shibpur
            </p>
            <p>
                <strong>Debasis Mitra</strong>, Department of Electronics and Telecommunication Engineering, IIEST
                Shibpur
            </p>
            <p>
                <strong>Hafizur Rahaman</strong>, Department of Information Technology, IIEST Shibpur
            </p>
            <p>
                <strong>Indrajit Bannerjee</strong>, Department of Information Technology, IIEST Shibpur
            </p>
            <p>
                <strong>Prasun Ghosal</strong>, Department of Information Technology, IIEST Shibpur
            </p>
            <p>
                <strong>Surajit Kumar Roy</strong>, Department of Information Technology, IIEST Shibpur
            </p>
            <p>
                <strong>Tuhina Samanta</strong>, Department of Information Technology, IIEST Shibpur
            </p>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Technical&nbsp;&nbsp;Program&nbsp;&nbsp;Committee</h4>
        </div>
        <div class="chair-body">
            <div id="chair-selector">
                <div id="chair-selector-btn-1" class="chair-selector-btn chair-selected">
                    <p>Committee for Mathematics</p>
                </div>
                <div id="chair-selector-btn-2" class="chair-selector-btn">
                    <p>Committee for Computing</p>
                </div>
            </div>
            <div id="chair-math">
                <% const mathLeftRowCount=56; %>
                    <div class="left">
                        <% for (let i=0; i < mathLeftRowCount; i++) { %>
                            <p>
                                <strong>
                                    <%= this.math[i].name %>
                                </strong>, <%= this.math[i].institute %>
                            </p>
                            <% } %>
                    </div>
                    <div class="right">
                        <% for (let i=mathLeftRowCount; i < this.math.length; i++) { %>
                            <p>
                                <strong>
                                    <%= this.math[i].name %>
                                </strong>, <%= this.math[i].institute %>
                            </p>
                            <% } %>
                    </div>
            </div>
            <div id="chair-comp">
                <% const compLeftRowCount=103; %>
                    <div class="left">
                        <% for (let i=0; i < compLeftRowCount; i++) { %>
                            <p>
                                <strong>
                                    <%= this.comp[i].name %>
                                </strong>, <%= this.comp[i].institute %>
                            </p>
                            <% } %>
                    </div>
                    <div class="right">
                        <% for (let i=compLeftRowCount; i < this.comp.length; i++) { %>
                            <p>
                                <strong>
                                    <%= this.comp[i].name %>
                                </strong>, <%= this.comp[i].institute %>
                            </p>
                            <% } %>
                    </div>
            </div>
        </div>
    </div>
</div>