<div class="bubble">
    <h4>Committee</h4>
</div>
<div class="chairs clearfix">
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Chief&nbsp;&nbsp;Patron</h4>
        </div>
        <div class="chair-body">
            <% this.committee["chief-patron"].forEach(item=> { %>
                <p>
                    <strong>
                        <%= item.name %>
                    </strong>, <%= item.institute %>
                </p>
                <% }) %>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Patron</h4>
        </div>
        <div class="chair-body">
            <% this.committee["patron"].forEach(item=> { %>
                <p>
                    <strong>
                        <%= item.name %>
                    </strong>, <%= item.institute %>
                </p>
                <% }) %>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>General&nbsp;&nbsp;Co-Chairs</h4>
        </div>
        <div class="chair-body">
            <% this.committee["general-co-chairs"].forEach(item=> { %>
                <p>
                    <strong>
                        <%= item.name %>
                    </strong>, <%= item.institute %>
                </p>
                <% }) %>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Programme&nbsp;&nbsp;Co-Chairs</h4>
        </div>
        <div class="chair-body">
            <% this.committee["programme-co-chairs"].forEach(item=> { %>
                <p>
                    <a href="<%= item.link %>" target="_blank">
                    <strong>
                        <%= item.name %>
                    </strong>, <%= item.institute %>
                    </a>
                </p>
                <% }) %>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Organizing&nbsp;&nbsp;Chair</h4>
        </div>
        <div class="chair-body">
            <% this.committee["organizing-chair"].forEach(item=> { %>
                <p>
                    <a href="<%= item.link %>" target="_blank">
                        <strong>
                            <%= item.name %>
                        </strong>, <%= item.institute %>
                    </a>
                </p>
                <% }) %>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Organizing&nbsp;&nbsp;Co-chairs</h4>
        </div>
        <div class="chair-body">
            <% this.committee["organizing-co-chairs"].forEach(item=> { %>
                <p>
                    <a href="<%= item.link %>" target="_blank">
                        <strong>
                            <%= item.name %>
                        </strong>, <%= item.institute %>
                    </a>
                </p>
                <% }) %>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Organizing&nbsp;&nbsp;Committee</h4>
        </div>
        <div class="chair-body">
            <% this.committee["organizing-committee"].forEach(item=> { %>
                <p>
                    <strong>
                        <%= item.name %>
                    </strong>, <%= item.institute %>
                </p>
                <% }) %>
        </div>
    </div>
    <div class="chair clearfix">
        <div class="chair-head">
            <h4>Technical&nbsp;&nbsp;Program&nbsp;&nbsp;Committee</h4>
        </div>
        <div class="chair-body">
            <div id="chair-selector">
                <div id="chair-selector-btn-1" class="chair-selector-btn chair-selected">
                    <p>Committee for Mathematics</p>
                </div>
                <div id="chair-selector-btn-2" class="chair-selector-btn">
                    <p>Committee for Computing</p>
                </div>
            </div>
            <div id="chair-math">
                <% const mathLeftRowCount=56; %>
                    <div class="left">
                        <% for (let i=0; i < mathLeftRowCount; i++) { %>
                            <p>
                                <strong>
                                    <%= this.math[i].name %>
                                </strong>, <%= this.math[i].institute %>
                            </p>
                            <% } %>
                    </div>
                    <div class="right">
                        <% for (let i=mathLeftRowCount; i < this.math.length; i++) { %>
                            <p>
                                <strong>
                                    <%= this.math[i].name %>
                                </strong>, <%= this.math[i].institute %>
                            </p>
                            <% } %>
                    </div>
            </div>
            <div id="chair-comp">
                <% const compLeftRowCount=103; %>
                    <div class="left">
                        <% for (let i=0; i < compLeftRowCount; i++) { %>
                            <p>
                                <strong>
                                    <%= this.comp[i].name %>
                                </strong>, <%= this.comp[i].institute %>
                            </p>
                            <% } %>
                    </div>
                    <div class="right">
                        <% for (let i=compLeftRowCount; i < this.comp.length; i++) { %>
                            <p>
                                <strong>
                                    <%= this.comp[i].name %>
                                </strong>, <%= this.comp[i].institute %>
                            </p>
                            <% } %>
                    </div>
            </div>
        </div>
    </div>
</div>