<div class="bubble">
    <h4>Keynote&nbsp;&nbsp;Speakers</h4>
</div>
<div class="speakers clearfix">
    <% this.speakers.forEach(item=> { %>
    <div class="speaker">
        <a href="<%= item.link %>" target="_blank" class="speak-photo"></a>
        <div class="speak-info">
            <a href="<%= item.link %>" target="_blank"><p><%= item.name %></p></a>
            <p><%= item.institute %></p>
            <% if (item.abstract) { %>
            <p>
                Topic:<br />
                <span class="speaker-abstract" data-abstract="<%= item.abstract %>">
                    <%= item.topic ? item.topic : '' %>
                </span>
            </p>
            <% } else { %>
            <p>
                <%= item.topic ? 'Topic:' : '' %><br />
                <span><%= item.topic ? item.topic : '' %></span>
            </p>
            <% } %>
        </div>
    </div>
    <% }) %>
</div>
