<div class="bubble">
    <h4>Keynote&nbsp;&nbsp;Speakers</h4>
</div>
<div id="modal-wrapper">
    <div id="speaker-modal">
        <p></p>
    </div>
</div>
<div class="speakers clearfix">
    <% this.speakers.forEach(item=> { %>
        <a href="<%= item.link %>" target="_blank" class="speaker">
            <div class="speak-photo"></div>
            <div class="speak-info">
                <p><%= item.name %></p>
                <p><%= item.institute %></p>
                <p><%= item.topic ? item.topic : '' %></p>
                <% if (item.abstract) { %>
                    <p class="speaker-abstract" data-abstract="<%= item.abstract %>">See abstact</p>
                <% } %>
            </div>
        </a>
        <% }) %>
</div>